.default-font {
  font-family: 'Lato', sans-serif;
}

/* used in app.js */
.icon {
  position: relative;
  left: 0.3%;
  top: 1.5%;
  vertical-align: middle;
  padding: 0px;
}

.select-destination {
  padding:1%;
  border:none;
  background: rgb(230,230,230);
}

.select-destination:hover {
  cursor: pointer;
}

.input-style {
  border:none;
  padding:1%;
  background: rgb(230,230,230);
  margin-right: 1%;
  cursor: pointer;
}

.input-style.cities {
  cursor: text;
}

.tabledata-style {
  padding-right: 1.5em;
  padding-top: 1em;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color:#006699;
  color: #ffcc00;
  z-index: 1;
}

.button-style {

  width: 10em;
  border: none;
  height: 3em;
  background: #006699;
  color: #ffcc00;
  font-size: 1.1em;
  font-family:'Raleway',sans-serif;

}

.nav-container {
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #006699;

}

/* Links inside the dropdown */
.dropdown-content div {
  color:#ffcc00;
  text-decoration: none;
  display: block;
  border-left: 2px inset;
  padding: 12px 16px;

}

/* Change color of dropdown links on hover */
.dropdown-content div:hover {
  background-color: #ffcc00;
  color:#006699;
  border: none;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  border-bottom: 2px inset #ffcc00;
  margin: 0px;
  padding: 0px;
  font-weight: normal;
}


.button-style:hover{
  background:#ffcc00;
  color: #006699;
  padding: 0px;
  font-size: 1.1em;
  font-family:'Raleway',sans-serif;
  cursor: pointer;
  font-weight: bold;
}

.background-image {
  background-size: contain;
  height:100vh;
  background-repeat: no-repeat;
  background-position: center center;
  max-width: 1200px;
  margin: 0 auto;
}

.table-style {
  border-collapse: collapse;
  max-width: 900px;
  text-align: left;
}

::placeholder {
  	color: #666666;
}

/* Used in RouteMap.js component */
.map {
  margin-top: 1.5em;
}

/* Used in Segment.js and SearchResult.js ----------------------------- */
.segment{
  background: #FCF3CF;
  /*border-bottom: 1px solid #AAB7B8;*/
  font-size: 0.9em;
  padding-top: 0px;
}

.segment th{
  padding-right: 2em;
  background: #EAEDED;
}
/*---------------------------------------------------------------------- */
