/* CSS used in MainBody.js component */

.header-text {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #006699;
  text-transform: uppercase;
}

.info-text {
  font-family: 'Lato', sans-serif;
}

.info-article {
  background: #ffcc00;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em;
}

.city-img {
  width: 600px;
  height: auto;
  border: 0.5px solid black;
}

.info-box {
  padding: 1em;
  margin: 0.5em;
  border: 4px solid #006699;
}
