@media only screen and (max-width: 480px) {

  .hidden {
    display: none;
  }

  .filter-img {
    padding: 0;
  }

  .filter-img-toggled {
    padding: 0;

  }

  /* search results-table */

  .searchResults th {
      font-size: 0.8em;
  }

  .searchResults td {
      font-size: 0.8em;
      padding: 0.2em;
      border: 1px solid #d3d3d3;
  }


}
@media only screen and (max-width: 999px) {
  .icon {
    display: none;
  }

  .city-img {
    width: 375px;
    height: auto;
    border: 0.5px solid black;
  }

  .info-article {
    background: #ffcc00;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
  }


}
