@media only screen and (max-width: 480px) {

  .hidden {
    display: none;
  }

  .filter-img {
    padding: 0;
  }

  .filter-img-toggled {
    padding: 0;

  }

}
@media only screen and (max-width: 999px) {
  .icon {
    display: none;
  }


}
