/* CSS used in SearchBody.js component */

.departure-home-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-width: 300px;
}

.departure-home{
  width: 50%;
}

.search-button{
  margin-top: 0.4em;
}

/* styling for the FILTER BUTTONS and ICONS below --------------------------- */
.filter-container {
  display: flex;
  flex-direction: row;
  padding-top: 10px;/* note to self put em as value instead */
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  outline: none;
  margin-right: 40px;
}

.switch-input {
  position: absolute;
  top: -99999px;
  left: -99999px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #006699;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 30px;
  bottom: 4px;
  background-color: #ffffff;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 50%;
}

.input-style:checked + .slider {
  background-color: #ccc;
}

.input-style:focus + .slider {
  box-shadow: 0 0 1px #ffffff;
}

.input-style:checked + .slider:before {
  -webkit-transform: translateX(-26px);
  -ms-transform: translateX(-26px);
  transform: translateX(-26px);
}

.filter-img {
  padding-right: 3px;
  max-width: 100%;
  vertical-align: middle;
  transition: 0.3s;
}

.filter-img-toggled {
  padding-right: 3px;
  opacity: 0.3;
  max-width: 100%;
  vertical-align: middle;
  transition: 0.3s;
}

.button-filter {
  cursor: pointer;
}

/* styling for the FILTER BUTTONS and ICONS above ----------------------------*/
