body {
  font-family: 'Lato', sans-serif;
}

.Flex-container {
  display: flex;
}

.Nav-container {
  flex-direction: row;
}

.Header-text {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #006699;
}

.Info-text {
  font-family: 'Lato', sans-serif;
  color: #ffcc00;
}

.Footer-container {
  display: flex;
}

.Aside-container {
  display: flex;
  flex-direction: column;
}

.falun-container {
  display: flex;
}

.info-text {
  font-family: 'Lato', sans-serif;
}

.info-img {
  float: right;
}

.departure-home-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-width: 300px;
}

.departure-home{
  width: 50%;
}

.search-button{

  margin-top: 5px;
}

select{

  padding:1%;
  border:none;
  background: rgb(230,230,230);

}

input {

  border:none;
  padding:1%;
  background: rgb(230,230,230);
  margin-right: 1%;
  cursor: pointer;
}


/* p{

  font-family: Arial, Helvetica, sans-serif;
} */

caption {
  margin-top: 40px;
  text-align: left;
  margin-bottom: 20px;
}
th {
     text-align: left;
     padding-right: 30px;
    }

td {
    padding-right: 30px;
    padding-top: 10px;
  }

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color:#006699;
  color: #ffcc00;
  z-index: 1;
}

button {

  width: 10em;
  border: none;
  height: 3em;
  background: #006699;
  color: #ffcc00;
  font-size: 1.1em;
  font-family:'Raleway',sans-serif;
}

.nav-container {
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #006699;


}

/* Links inside the dropdown */
.dropdown-content a {
  color:#ffcc00;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-left: 2px inset;

}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ffcc00;
  color:#006699;
  border: none;
}



/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  border-bottom: 2px inset #ffcc00;
  margin: 0px;
  padding: 0px;

}


button:hover{
  background:#ffcc00;
  color: #006699;
  padding: 0px;
  font-size: 1.1em;
  font-family:'Raleway',sans-serif;
  cursor: pointer;

}

.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background:#ffcc00;
}

.footer-heading {
  background: #006699;
  color: #ffcc00;
}

.footer h1 {
  font-family: 'Raleway', sans-serif;
  padding: 5px;
  margin: 2px;
  font-size: 23px;
}

.footer p {
  font-family: 'Lato', sans-serif;
}

.App {
  background-size: contain;
  height:100vh;
  background-repeat: no-repeat;
  background-position: center center;
  max-width: 1200px;
  margin: 0 auto;
}

.routes {

background:#E0E0E0;
border: 1px solid 

}

table{
  border-collapse:collapse;
}

.segment{

  background: #F8F8F8;
  border: 1px solid black;
  margin-left: 5%;

}
